header {
    position: fixed;
    top: 0;

    width: 100%;
    height: 3.75rem;
    padding-inline: 3rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #4066fa;
}

.navbar {
    flex: 1 0 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 2rem;
        font-weight: 700;
    }

    .nav_menu {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .nav_item {
            list-style: none;
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

