:root {
  --primary-bg: black;

  --primary-clr: white;

  --tertiary-clr: teal;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: var(--primary-bg);
  color: var(--primary-clr);
  overflow-x: hidden;
}


/* ================= body CSS =================== */

.app {
  margin-block: 6rem;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}


button {
  padding: .75rem;
  border-radius: 50px;
  border: 2px solid lime;
  background-color: green;
  color: white;
  outline: none;

  font-size: 1.2rem;
  font-weight: 600;
  width: 10dvw;
  text-align: center;
  cursor: pointer;
  transition: all 500ms ease;
}


button:hover {
  box-shadow: inset 0 0 20px white;
  transition: all 200ms ease;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.subs,
.others {
  flex: 6;
  width: 50dvw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}


.subscription_form {
  gap: 1rem;
  display: flex;
  justify-content: center;

  input {
    width: 25dvw;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 500
  }

  button[type="submit"] {
    border-radius: .5rem;
    border: 2px solid lime;
    background-color: green;
  }
}


.sub_list>li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.5rem;
  padding-inline: 3.5rem;
  padding-inline-end: 7rem;
  margin-block: .2rem;
  text-transform: capitalize;
  gap: 2rem;
}


.delete_btn {
  border: 2px solid red;
  background-color: darkred;
  padding: .2rem;
  border-radius: .2rem;

  width: 5dvw;
}


.title {
  font-size: 2rem;
  font-weight: 500;
}

.notification_bar {
  width: 30dvw;
  border: 1px solid lime;
  background: linear-gradient(to bottom, green transparent);

  padding: .75rem;
  border-radius: .5rem;
  border-bottom: 2px solid limegreen;
  animation: slideIn 500ms ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.notif_toggle {
  border: 2px solid cyan;
  background-color: teal;
  padding: .5rem;
  font-size: 1.2rem;
  width: 20dvw;

  font-weight: 600;
}