:root {
  --primary-bg: black;

  --primary-clr: white;

  --tertiary-clr: teal;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color:  black;
  color: whitesmoke;
  overflow-x: hidden;
}

